@import url("https://fonts.googleapis.com/css2?family=Parkinsans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..800");
@import url("https://fonts.googleapis.com/css2?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Playwrite DK Loopet");
@import url("https://fonts.googleapis.com/css2?family=Anton");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Karla");

.curved10 {
  border-radius: 10px;
  padding: 0px 10px;
}
.curved15 {
  border-radius: 15px;
  padding: 0px 10px;
}
.curved20 {
  border-radius: 20px;
  padding: 0px 10px;
}
.curved25 {
  border-radius: 25px;
  padding: 0px 10px;
}

.backgroundGrey {
  background-color: grey;
  padding: 5px 10px;
}
.backgroundBrown {
  background-color: brown;
  padding: 5px 10px;
}
.backgroundOrange {
  background-color: orange;
  padding: 5px 10px;
}
.backgroundPurple {
  background-color: purple;
  padding: 5px 10px;
}
.backgroundPink {
  background-color: pink;
  padding: 5px 10px;
}
.backgroundMaroon {
  background-color: maroon;
  padding: 5px 10px;
}
.backgroundBlue {
  background-color: rgb(0, 116, 184);
  padding: 5px 10px;
}
.backgroundGreen {
  background-color: green;
  padding: 5px 10px;
}
